.root {
  border-radius: var(--border-radius-md);
  padding: 0 var(--spacing-md);
  color: var(--color-background);

  height: var(--interactive-elements-size);

  transition: all 0.2s ease-in-out;

  transform: translateY(0) !important;

  /* Locked variant */
  &[data-variant='locked'] {
    background-color: var(--color-gray500);
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }

  /* Primary variant */
  &[data-variant='primary'] {
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primaryDarker);
      color: var(--color-text);
    }

    &:active {
      opacity: 0.5;
    }
  }

  /* Primary outlined variant */
  &[data-variant='primaryOutlined'] {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-black);
    }
  }

  /* Danger variant */
  &[data-variant='danger'] {
    background-color: var(--color-error);

    &:hover {
      /* background-color: var(--color-darkerDanger); */
    }
  }

  /* Danger outlined variant */
  &[data-variant='dangerOutlined'] {
    background-color: transparent;
    border: 1px solid var(--color-error);
  }

  /* Success variant */
  &[data-variant='success'] {
    background-color: var(--color-green);

    &:hover {
      background-color: var(--color-darkerGreen);
    }
  }

  /* Dark variant */
  &[data-variant='dark'] {
    background-color: var(--color-black);

    &:hover {
      background-color: var(--color-gray800);
    }
  }

  /* Dark variant */
  &[data-variant='test'] {
    background-color: var(--color-yellow);
    color: var(--color-black);

    &:hover {
      opacity: 0.8;
    }
  }

  /* text variant */
  &[data-variant='text'] {
    background-color: var(--color-transparent);
    height: 22px !important;
  }

  &[data-loading='true'] {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;

    &:hover {
      opacity: 0.4;
    }
  }
}
