.root {
  .input {
    cursor: pointer;

    &:checked {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }

    &:disabled {
      background-color: transparent;
      border-color: lightGray;
    }

    &[data-error] {
      border-color: var(--color-error);
    }
  }

  .error {
    color: var(--color-error);
  }
}
