.input {
  height: var(--interactive-elements-size);
  border: 1px solid var(--color-gray600);
  padding: 0 var(--spacing-md);
  font-size: 14px;
  font-weight: 400;
  border-radius: var(--border-radius-md);
  color: var(--color-text);
  height: 100%;
  height: 48px;

  transition: all 0.3 ease;

  margin: var(--spacing-xs) 0;

  &:focus {
    border-color: var(--color-primary);
  }

  &:focus-within {
    border-color: var(--color-primary);
  }

  &[data-error] {
    border-color: var(--color-error);

    &::placeholder {
      color: var(--color-error);
    }

    &:focus {
      border: 1px solid var(--color-primary);
    }

    &:focus-within {
      border: 1px solid var(--color-primary);
    }
  }

  &[data-disabled] {
    background-color: var(--color-bg3);
  }
}

.root {
  position: relative;
  overflow: visible;
}

.error {
  position: absolute;
  bottom: -18px;
  left: var(--spacing-xs);
  color: var(--color-error);
}
